@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Arial";
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

/* Removes default focus */
input[type="range"]:focus {
    outline: none;
  }

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
.timebar::-webkit-slider-runnable-track {
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    height: 0.5rem;
  }
  
  /* slider thumb */
  .timebar::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -4px; /* Centers thumb on the track */
    background-color: #15a721;
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }
  
  .timebar:focus::-webkit-slider-thumb {
    outline: 3px solid #15a721;
    outline-offset: 0.125rem;
  }
  
  /*********** Firefox styles ***********/
  /* slider track */
  .timebar::-moz-range-track {
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    height: 0.5rem;
  }
  
  /* slider thumb */
  .timebar::-moz-range-thumb {
    background-color: #15a721;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }
  
  .timebar:focus::-moz-range-thumb{
    outline: 3px solid #15a721;
    outline-offset: 0.125rem;
  }

.volume {
  writing-mode: vertical-lr;
  direction: rtl;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
.volume::-webkit-slider-runnable-track {
    background-color: #15a721;
    border-radius: 0.5rem;
    height: 0.40rem;
  }
  
  /* slider thumb */
  .volume::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -1.5999999999999996px; /* Centers thumb on the track */
    background-color: #ffffff;
    border-radius: 0.5rem;
    height: 0.6rem;
    width: 0.6rem;
  }
  
  .volume:focus::-webkit-slider-thumb {
    outline: 3px solid #ffffff;
    outline-offset: 0.125rem;
  }
  
  /*********** Firefox styles ***********/
  /* slider track */
  .volume::-moz-range-track {
    background-color: #15a721;
    border-radius: 0.5rem;
    height: 0.40rem;
  }
  
  /* slider thumb */
  .volume::-moz-range-thumb {
    background-color: #ffffff;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0.5rem;
    height: 0.6rem;
    width: 0.6rem;
  }
  
  .volume:focus::-moz-range-thumb{
    outline: 3px solid #ffffff;
    outline-offset: 0.125rem;
  }

  /* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 9px;
  width: 9px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #232425;
}

*::-webkit-scrollbar-track:hover {
  background-color: #252727;
}

*::-webkit-scrollbar-track:active {
  background-color: #2A2C2C;
}

*::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background-color: #15a721;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #0f911a;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #0c8a17;
}